apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-webserver
spec:
  replicas: 3
  selector:
    matchLabels:
      app: airflow-webserver
  template:
    metadata:
      labels:
        app: airflow-webserver
    spec:
      containers:
        - name: airflow-webserver
          image: apache/airflow:2.9.1
          command: ["bash", "-c"]
          args:
            - >
              airflow db upgrade &&
              airflow users create --username admin --password btsai --firstname Admin --lastname User --role Admin --email admin@example.com &&
              airflow webserver
          env:
            - name: AIRFLOW__CORE__EXECUTOR
              value: LocalExecutor
            - name: AIRFLOW__CORE__SQL_ALCHEMY_CONN
              value: mysql+mysqldb://project:btsai@mariadb-service:3306/airflow_db
            - name: AIRFLOW__CORE__FERNET_KEY
              value: ""
            - name: AIRFLOW__CORE__LOAD_EXAMPLES
              value: "false"
          ports:
            - containerPort: 8080
          
---
apiVersion: v1
kind: Service
metadata:
  name: airflow-webserver-service
spec:
  type: NodePort
  selector:
    app: airflow-webserver
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30082
