apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-scheduler
spec:
  replicas: 3
  selector:
    matchLabels:
      app: airflow-scheduler
  template:
    metadata:
      labels:
        app: airflow-scheduler
    spec:
      containers:
        - name: airflow-scheduler
          image: apache/airflow:2.9.1
          command: ["bash", "-c"]
          args:
            - >
              sleep 10 && airflow db upgrade && airflow scheduler
          env:
            - name: AIRFLOW__CORE__EXECUTOR
              value: LocalExecutor
            - name: AIRFLOW__CORE__SQL_ALCHEMY_CONN
              value: mysql+mysqldb://project:btsai@mariadb-service:3306/airflow_db
            - name: AIRFLOW__CORE__FERNET_KEY
              value: ""
            - name: AIRFLOW__CORE__LOAD_EXAMPLES
              value: "false"
            - name: AIRFLOW__CORE__DAG_DISCOVERY_SAFE_MODE
              value: "true"
          
