services:
  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.3
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=https://elasticsearch:9200
      - ELASTICSEARCH_SERVICEACCOUNTTOKEN=AAEAAWVsYXN0aWMva2liYW5hL2tpYmFuYS10b2tlbjo3Y1RrdUN1NFRlcTJYUmRmVGdSaUhn
      - ELASTICSEARCH_SSL_VERIFICATIONMODE=none
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on: [elasticsearch]

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.3
    container_name: elasticsearch
    ports:
    - "9200:9200"