global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'bookride-api'
    metrics_path: /metrics
    scrape_interval: 15s
    static_configs:
      - targets:
          - 'api_blue:8080'  
